.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.issue.body {
  font-size: 1rem;
  padding: 1rem;
  background-color: #f1f1f1;
}

.issue.body img {
  max-width: 100%;
  padding: 0.5rem;
}
